<!-- <div class="row text-center">
  <div class="col-md-4" *ngIf="kpis">
    <mat-card>
      <mat-card-title>Total Estudiantes</mat-card-title>
      <mat-card-content>
        <h2>{{ kpis.totalEstudiantes }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4" *ngIf="kpis">
    <mat-card>
      <mat-card-title>Total Cursos</mat-card-title>
      <mat-card-content>
        
        <h2>{{ kpis.totalCursos }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4" *ngIf="kpis">
    <mat-card>
      <mat-card-title>Total Profesores</mat-card-title>
      <mat-card-content>
        <h2>{{ kpis.totalProfesores }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->


<div class="row text-center">
  <div class="col-md-4 mb-3" *ngIf="kpis">
    <mat-card class="kpi-card">
      <mat-card-title>Total Estudiantes</mat-card-title>
      <mat-card-content>
        <h2>{{ kpis.totalEstudiantes }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 mb-3" *ngIf="kpis">
    <mat-card class="kpi-card">
      <mat-card-title>Total Cursos</mat-card-title>
      <mat-card-content>
        <h2>{{ kpis.totalCursos }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 mb-3" *ngIf="kpis">
    <mat-card class="kpi-card">
      <mat-card-title>Total Profesores</mat-card-title>
      <mat-card-content>
        <h2>{{ kpis.totalProfesores }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>