<div class="row">
  <div class="col-md-4 mb-3">
    <mat-card class="text-center">
      <mat-icon>people</mat-icon>
      <h4>{{ registros }} Registros</h4>
    </mat-card>
  </div>
  <div class="col-md-4 mb-3">
    <mat-card class="text-center">
      <mat-icon>autorenew</mat-icon>
      <h4>{{ cambios }} Cambios recientes</h4>
    </mat-card>
  </div>
  <div class="col-md-4 mb-3">
    <mat-card class="text-center">
      <mat-icon>warning</mat-icon>
      <h4>{{ alertas }} Alertas</h4>
    </mat-card>
  </div>
</div>
