
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --primary-color: #0056b3; /* Azul más oscuro */
  --accent-color: #ff5722; /* Naranja vibrante */
  --background-color: #f4f4f4; /* Fondo claro */
  --text-color: #333333; /* Texto oscuro */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}