mat-card {
  border-radius: 1rem;
}

mat-icon {
  vertical-align: middle;
}
mat-card {
  background-color: #ffffff !important; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

canvas {
  max-width: 100%;
  height: auto;
}